<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templateApp.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions">
        
    <ui:define name="namepage">
        #{ValidarSesion.nombre}
    </ui:define> 

    <ui:define name="content">
        .
    </ui:define> 
</ui:composition>
